body {
  font-family: sans-serif;
  background-color: crimson;
  color: white;
}

footer {
  margin-top: 25px;
  font-family: monospace;
}

a {
  color: orange;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 3em;
}

h2,
h3 {
  text-align: center;
}

button {
  font-family: monospace;
  font-weight: bold;
  color: white;
  border-style: solid;
  background-color: orangered;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px black;
}
button:Hover {
  animation-name: buttonBackgroundFade;
  animation-duration: 0.12s;
  animation-fill-mode: forwards;
}

input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: crimson;
  border-radius: 10px;
  margin-bottom: 20px;
}
input:Hover {
  animation-name: inputHoverFade;
  animation-duration: 0.12s;
  animation-fill-mode: forwards;
}
input:Focus {
  background-color: orangered;
}
input::Placeholder {
  text-align: center;
  font-family: monospace;
  color: white;
}

img {
  width: 20%;
  height: 20%;
}

hr {
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

.invertedButtonScheme {
  font-family: monospace;
  font-weight: bold;
  color: white;
  border-style: solid;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px orangered;
}

.landingContent {
  margin-top: 75px;
}

.alteredTitle {
  text-shadow: 5px 5px black;
  margin-top: -10px;
  text-align: center;
  margin-left: 20px;
  font-family: sans-serif;
  animation-name: swivelAnimation;
  animation-duration: 4s;
  transform: rotate(-5deg);
}

.textInput {
  width: 25%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.onTopOfAnother {
  display: block;
}

.sideBySide {
  display: flex;
}

.descriptionText {
  line-height: 150%;
}

.numericalInputs {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 75px;
  width: 125px;
  height: 175px;
}

.formImageButton {
  margin-left: 0;
  margin-right: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  border-style: none;
  border-radius: 0;
  box-shadow: None;
}
.formImageButton:Hover {
  background-color: yellow;
  animation: none;
}

.formImageButtonFilled {
  margin-left: 0;
  margin-right: 0;
  width: 50px;
  height: 50px;
  background-color: Orange;
  border-radius: 0;
  border-style: none;
  box-shadow: None;
}
.formImageButtonFilled:Hover {
  background-color: yellow;
  animation: none;
}

#introductionText {
  margin-bottom: 30px;
}

#remainingTimeText {
  font-family: monospace;
  text-align: left;
}

#moveMouseBar {
  width: 80%;
}

#cheeseForMouse {
  width: 100px;
  height: 75px;
  position: absolute;
}

#greenArrow {
  margin-left: 900px;
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
}

#josephSaysTitle {
  margin-bottom: -50px;
}

/* Swivels the landing title on the page */
@keyframes swivelAnimation {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes buttonBackgroundFade {
  to {
    color: black;
    background-color: orange;
  }
}

@keyframes inputHoverFade {
  to {
    background-color: orangered;
  }
}
